.subheading {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    margin-bottom: 2.6rem;
    font-size: 3.6rem;
    font-weight: 700;
    line-height: 5.6rem;
  }

  &__line {
    width: 5.6rem;
    height: 0.2rem;
    background-color: $primary-color-1;
    border: none;
    border-radius: 0.5rem;
  }

  &--left {
    align-items: flex-start;

    @include media-sm {
      align-items: center;
    }
  }

  &--light {
    color: $primary-color-3;

    .subheading__line {
      background-color: $primary-color-3;
    }
  }
}
