.articles {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 112rem;
  margin-top: 21rem;
  margin-right: -4.8rem;

  &__dot-bg {
    position: absolute;
    top: 12rem;
    left: -5rem;
    z-index: -100;
  }

  &__bottom-dot-bg {
    position: absolute;
    right: -12rem;
    bottom: -24.5rem;
    z-index: -100;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 7.9rem;
    margin-bottom: 7.2rem;
  }

  &__bg {
    position: absolute;
    top: -2rem;
    right: -72rem;
    z-index: -100;
    transform: scale(-1, -1);
  }
}
