.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  color: $primary-color-3;
  background:
    linear-gradient(
      183.41deg,
      $accent-color-1-light -8.57%,
      #5a98f2 82.96%
    ),
    url('/src/img/dot-bg-1.svg') no-repeat left -1.5rem bottom -1.5rem;
  background-blend-mode: color-dodge;

  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 117rem;
    margin-top: 12rem;
    margin-bottom: 12rem;
    margin-left: -5rem;

    @include media-md {
      padding-right: 2rem;
      padding-left: 2rem;
      margin-left: 0;
    }

    @include media-sm {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  }

  &__info {
    @include media-sm {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__description {
    width: 38rem;
    margin-top: 1.7rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;

    @include media-md {
      width: 34rem;
    }
  }

  &__copyright {
    width: 38rem;
    margin-top: 3.1rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
  }

  &__nav {
    list-style: none;
  }

  &__heading {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4.5rem;

    @include media-sm {
      margin-top: 4rem;
    }
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.8rem;
    color: $primary-color-3;
    text-decoration: none;

    &:hover {
      color: darken($primary-color-3, 5%);
    }
  }
}
