.footer {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 20.6rem;
  overflow: hidden;
  color: $primary-color-3;
  background-image:
    linear-gradient(
      183.41deg,
      $accent-color-1-light -8.57%,
      #5a98f2 82.96%
    );

  &__dot-bg {
    position: absolute;
    bottom: -1.8rem;
    left: 12rem;
    z-index: 100;
    mix-blend-mode: color-dodge;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    width: 117rem;
    margin-top: 12rem;
    margin-bottom: 12rem;
    margin-left: -5rem;
  }

  &__description {
    width: 38rem;
    margin-top: 1.7rem;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 2.8rem;
  }

  &__copyright {
    width: 38rem;
    margin-top: 3.1rem;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.8rem;
  }

  &__nav {
    list-style: none;
  }

  &__heading {
    margin-bottom: 0.8rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 4.5rem;
  }

  &__link {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 3.8rem;
    color: $primary-color-3;
    text-decoration: none;

    &:hover {
      color: darken($primary-color-3, 5%);
    }
  }
}
