.header {
  display: flex;
  width: 121.7rem;
  justify-content: space-between;
  margin-top: 5.6rem;
  align-items: center;

  &__logo-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__logo {
    height: 4.1rem;
    width: 4.1rem;
  }

  &__name {
    padding-left: 1.2rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1;
    color: $primary-color-1;
  }

  &__menu {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item:not(:last-of-type) {
    padding-right: 4rem;
  }

  &__link {
    color: $primary-color-2;
    text-decoration: none;
    font-size: 1.8rem;

    &:hover {
      color: $primary-color-1;
    }

    &_active {
      color: $primary-color-1;
      font-weight: 700;
    }
  }
}
