.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 121.7rem;
  margin-top: 5.6rem;

  &__menu {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  &__item:not(:last-of-type) {
    padding-right: 4rem;
  }

  &__link {
    font-size: 1.8rem;
    color: $primary-color-2;
    text-decoration: none;

    &:hover {
      color: $primary-color-1;
    }

    &_active {
      font-weight: 700;
      color: $primary-color-1;
    }
  }
}
