.providers {
  display: flex;
  width: 122rem;
  margin-top: 22.9rem;
  position: relative;

  &__dot-bg {
    position: absolute;
    z-index: -100;
    left: 132rem;
    top: 47rem;
  }

  &__img {
    margin-left: -5.5rem;
  }

  &__content {
    width: 40rem;
    margin-top: 5.7rem;
    margin-left: 13.7rem;
  }

  &__button {
    margin-top: 4rem;
  }
}
