.reviews {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 112rem;
  margin-top: 26.6rem;

  @include media-md {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &__window {
    width: 100%;
    overflow: hidden;
    border-radius: 2.4rem;
  }

  &__container {
    position: relative;
    display: flex;
    touch-action: pan-y;
    transition: transform 1s;
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 8rem;
    overflow: hidden;
    background:
      linear-gradient(
        208.18deg,
        $accent-color-1-light 9.05%,
        #5a98f2 76.74%
      );
    border-radius: 2.4rem;

    @include media-sm {
      padding: 3rem 2rem;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6.6rem;

    @include media-sm {
      flex-direction: column;
      margin-top: 4rem;
    }
  }

  &__person-box {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    margin-right: 3rem;
    margin-left: 11.8rem;

    @include media-md {
      margin-left: 4rem;
    }

    @include media-sm {
      justify-content: space-around;
      margin-right: 0;
      margin-left: 0;
    }
  }

  &__photo {
    margin-right: 2.9rem;
    background-color: $primary-color-3;
    border: solid 0.4rem $primary-color-3;
    border-radius: 50%;
  }

  &__person {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 2.2rem;
    font-weight: 700;
    line-height: 3.4rem;
    color: $primary-color-3;
  }

  &__description {
    font-size: 1.8rem;
    line-height: 3.4rem;
    color: $primary-color-3;
  }

  &__text {
    max-width: 38rem;
    margin-top: 1rem;
    margin-right: 11.8rem;
    color: $primary-color-3;

    @include media-md {
      margin-right: 4rem;
    }

    @include media-sm {
      margin-top: 2rem;
      margin-right: 0;
    }
  }

  &__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 33.7rem;
    margin-top: 4.2rem;
  }

  &__selector {
    background-color: transparent;
    border: none;
    opacity: 0.7;

    &:hover {
      cursor: pointer;
      opacity: 1;
    }

    &--active {
      opacity: 1;

      &:hover {
        cursor: default;
      }
    }
  }

  &__arrow {
    background-color: transparent;
    border: none;
    opacity: 0.7;

    &--active {
      opacity: 1;

      &:hover {
        cursor: pointer;
        filter: brightness(0.95);
      }
    }
  }

  &__selection {
    display: flex;
    justify-content: space-between;
    width: 9.4rem;
  }
}
